.root {
  width: 100%;
  min-height: 100vh;
  position: relative;
  margin: 0 auto;
  font-family: 'Inter', sans-serif;
  color: #FFFFFF;
  background-color: #000000;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
}
