.form__submit {
  margin: 11px 0 0;
  padding: 0;
  height: 50px;
  font-size: 18px;
  line-height: 22px;
  font-weight: 400;
  color: #FFFFFF;
  background: #000000;
  border: none;
  border-radius: 2px;
  cursor: pointer;
  transition: opacity linear .2s;
}
  
 .form__submit:hover {
    opacity: .8;
  }
  
@media screen and (max-width: 619px) {
  .form__submit {
    margin: 45px 0 0;
    font-size: 14px;
  }
}
  